$white: #fff;
$gray-1: #adadb8;
$gray-2: #707083;
$gray-3: #26263b;
$dark-blue: #002;
$dark-blue-2: #131332;
$dark-blue-3: #33334e;
$light-blue: #27d5ff;
$blue: #00f;

$color-444: #ded11d;
$color-origo: #0061ff;
$color-pestisracok: #de1c66;
