.text {
    font-weight: 300;

    &--italic {
        font-style: italic;
    }

    &--light {
        font-weight: 100;
    }
    
    &--medium {
        font-weight: 500;
    }
    
    &--bold {
        font-weight: 700;
    }
    
    &--black {
        font-weight: 900;
    }

    &--center {
        text-align: center;
    }

    &--subtitle {
        max-height: 37px;
        font-weight: 900;
        font-size: 14px;
        text-transform: uppercase;
        margin: 0 auto 15px;
        overflow: hidden;
    }

    &--uppercase {
        text-transform: uppercase;
    }

    &--left {
        text-align: left;
    }

    &--right {
        text-align: right;
    }
}