.box-chart {

  &__wrapper {
    width: 100%;
  }

  &__row {
    display: flex;
    width: 100%;
  }

  &__col {
    height: 100%;
    opacity: .3;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity .3s ease;

    &--active,
    &:hover {
      opacity: 1;

      .box-chart__text {
        color: $white;
      }
    }
  }

  &__text {
    font-size: 24px;
    font-weight: 500;
    color: $dark-blue;

    span {
      font-size: 16px;
    }
  }
}
