.button {
    color: $gray-2;
    border: 1px solid $gray-2;
    padding: 5px 10px;
    font-size: 14px;
    text-transform: uppercase;
    display: inline-block;
    transition: color .3s ease, border-color .3s ease;
    min-width: 120px;

    &:hover {
        color: $light-blue;
        border: 1px solid $light-blue;
    }

    &--large {
        border: 4px solid $gray-2;
        padding: 5px 10px;
        min-width: 300px;
        @include responsive-font(32px, 42px, $viewport-small, $viewport-large);
        font-weight: 500;

        @media (max-width: $viewport-medium) {
            min-width: 240px;
        }

        &:hover {
            border: 4px solid $light-blue;
        }
    }
}