.header {
    margin: 0 auto;
    max-width: 625px;
    text-align: center;

    &__logo {
        position: relative;
        width: 100%;

        img {
            width: 100%;
        }

        &:before,
        &:after {
            display: block;
            position: absolute;
            content: '';
        }

        &:before {
            top: 25%;
            left: 55%;
            width: 16.5%;
            height: 30%;
            background: radial-gradient(white 0, transparent 50%);
            animation: pulse 2s infinite ease;
        }

        &:after {
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background: radial-gradient(rgba(255, 255, 255, .5) 0, transparent 50%);
            z-index: -1;
        }
    }
}

.intro {
    margin: 0 auto;
    max-width: 625px;
    text-align: center;
    color: $white;

    .title {
        font-size: 16px;
        line-height: 30px;
        margin-bottom: 40px;
        font-weight: 100;
    }
}

.header-secondary {
    max-width: 625px;
    text-align: center;
    margin: 20px auto 40px;

    .title {
        font-size: 72px;
        font-weight: 500;

        &--search {

            span:before {
                display: inline-block;
                content: '\e909';
                font-family: Icon, sans-serif;
                font-size: 60px;
                padding-right: 15px;
                font-weight: 300;
            }
        }

        span {
            color: $gray-1;
        }

        &:before,
        &:after {
            display: inline-block;
            content: '\e903';
            font-family: Icon, sans-serif;
            font-size: 32px;
        }

        &:before {
            margin-right: 40px;
        }

        &:after {
            margin-left: 40px;
        }
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.25);
    }

    100% {
        transform: scale(1);
    }
}