.tile {
    display: block;
    background: $dark-blue-3;
    transition: background-color .3s ease;
    margin-bottom: 20px;

    &--compact {    
        border-left-width: 10px;
        border-left-style: solid;

        &.tile--collapsed {
            background: $gray-3;

            .tile__title-wrapper {
                display: flex;

                .tile__title-info {
                    display: block;
                    margin-left: 20px;
                    border-left: 1px solid $white;
                    padding-left: 20px;
                }
            }

            .tile__indicator {
                height: 0;
            }
        }

        .tile__title-wrapper {
            margin-bottom: 15px;

            .tile__title-info {
                display: none;
            }
        }

        .tile__indicator {
            height: 50px;
            overflow: hidden;
            transition: height .3s ease;
        }

        .tile__title {
            font-size: 16px;
            font-weight: 500;
        }

        .tile__footer {
            border: none;
            padding: 0;
            display: flex;

            .tile__source {
                min-width: 200px;
                margin: 0 20px 0 0;
                color: $gray-1;
                border-right: 2px solid $gray-1;
            }
        }
    }

    &:not(&--compact) {
        border-top-width: 10px;
        border-top-style: solid;
    }

    &:hover {
        background: $gray-4;
    }

    &__main {
        padding: 15px;
    }

    &__footer {
        border-top: 5px solid $gray-3;
        padding: 15px;
    }

    &__source {
        display: flex;
        font-weight: 700;
        align-items: center;
        margin-bottom: 10px;

        &:before {
            content: '\e902';
            font-family: Icon, sans-serif;
            font-size: 20px;
            font-weight: 300;
            padding-right: 10px;
        }
    }

    &__title {
        color: $white;
        font-weight: 500;
    }

    &__content,
    &__characters {
        color: $white;
        font-weight: 300;
    }

    &__characters {
        margin-bottom: 20px;
    }
}