.edits {
    display: flex;
    width: 100%;
    height: 166px;
    font-size: 24px;
    font-weight: 100;
    text-align: left;
    margin-bottom: 40px;
    color: $white;

    &__total,
    &__stealth {
        position: relative;
        padding: 10px;
        box-sizing: border-box;
        transition: flex-basis .3s ease;

        span {
            white-space: nowrap;
            overflow: hidden;
            left: 10px;
            right: 10px;
            position: absolute;
            text-overflow: ellipsis;
        }
    }

    &__total {
        background: linear-gradient(to right, $gray-3, $dark-blue-2);
        flex: 0 0 75%;

        &:before {
            content: '\e900';
            font-size: 24px;
            display: block;
            font-family: Icon, sans-serif;
        }
    }

    &__stealth {
        flex: 0 0 25%;
        background: currentColor;

        span {
            color: $white;
        }
        
        &:before {
            content: '\e901';
            font-size: 24px;
            display: block;
            font-family: Icon, sans-serif;
            color: $white;
        }
    }
}