mixin article-compare-edits(number, info, date)
    .article-compare-edits
        .article-compare-edits__info= info
        ul
            - var n = 1;
            while n < number + 1
                li= n++
        .article-compare-edits__date= date