mixin footer(hasImpresszum)
    .section
        .pillarbox
            footer.footer
                img(src="../images/sf_gr.png")
                if hasImpresszum
                    .footer__links
                        a.footer__link(href="") Impresszum
                        a.footer__link(href="") Jogi nyilatkozat
                else
                    .footer__info ALL RIGHTS RESERVED STEALTH FIGHTER TEAM