mixin graph()
    .graph
        svg(x="0" y="0" viewBox="0 0 380.5 166.5")
            g
                text(transform="matrix(1 0 0 1 42.918 163.1333)") ‘18.02
                text(transform="matrix(0 -1 1 0 11.9844 144.9436)") 0
                text(transform="matrix(0 -1 1 0 11.9844 14.6984)" data-range-end) 10
                text(transform="matrix(1 0 0 1 341.5361 163.1333)") ‘19.02
                line(class="line" x1="42.9" y1="143.6" x2="42.9" y2="137.1")
                line(class="line" x1="73.5" y1="143.6" x2="73.5" y2="137.1")
                line(class="line" x1="104" y1="143.6" x2="104" y2="137.1")
                line(class="line" x1="134.6" y1="143.6" x2="134.6" y2="137.1")
                line(class="line" x1="165.1" y1="143.6" x2="165.1" y2="137.1")
                line(class="line" x1="195.7" y1="143.6" x2="195.7" y2="137.1")
                line(class="line" x1="226.3" y1="143.6" x2="226.3" y2="137.1")
                line(class="line" x1="256.8" y1="143.6" x2="256.8" y2="137.1")
                line(class="line" x1="287.4" y1="143.6" x2="287.4" y2="137.1")
                line(class="line" x1="317.9" y1="143.6" x2="317.9" y2="137.1")
                line(class="line" x1="348.5" y1="143.6" x2="348.5" y2="137.1")
                polyline(class="line" points="19.4,0 19.4,143.6 379,143.6 379,137.1")
                path(data-polyline class="polyline" d="M42.9,130 68.75384615384615,130 94.6076923076923,130 120.46153846153848,130 146.31538461538463,130 172.16923076923078,130 198.02307692307696,130 223.8769230769231,130 249.73076923076925,130 275.5846153846154,130 301.4384615384615,130 327.2923076923077,130 353.1461538461539,130 379,130")

