include button.pug
include select.pug
include slider.pug

mixin search()
    .search
        .search__header
            img(src="/images/FIG_01.png")
        .search__main
            .search__main-item
                .text.text--left.text--uppercase.text--subtitle Szabadszavas keresés
                .search__input
                    .search__input-icon
                    input(type="text" placeholder="keresés")
            .search__main-item
                .text.text--right.text--uppercase.text--subtitle Újság szerint
                .search__select
                    +select()
        .search__slider
            .text.text--left.text--uppercase.text--subtitle IDŐRE SZŰRÉS
            +slider()
        .search__footer
            .row
                .col.col--center
                    +button('Ok !', '#', true)
