mixin select()
  .selectWrapper
    select
      option összes portál
      option origo.hu
      option 888.hu
      option pestisracok.hu
      option index.hu
      option 444.hu
    .select(tabindex="0")
      .select__head összes portál
      .select__options
        .select__option.select__option--active.color--default-secondary
           span összes portál
        .select__option.select__option--active.color--origo
           span origo.hu
        .select__option.color--888
           span 888.hu
        .select__option.color--pestisracok
           span pestisracok.hu
        .select__option.color--index
           span index.hu
        .select__option.color--444
           span 444.hu