mixin slider()
    .slider
        .slider__bar
            .slider__current-bar
                .slider__current-range-start
                    span ‘18.01
                .slider__current-range-end
                    span ‘19.12
        .slider__range-wrapper
            .slider__range-start ‘18.01
            .slider__range-end ‘19.12