mixin table(data, hasIndicator)
    .table
        each item, index in data
            a(href="#").table__row(class='color--' + item.color)
                .table__col= index + 1 + '.'
                .table__col(class='table__col--indicator')
                    if hasIndicator
                        .table__col-indicator(class='color--' + item.color)
                        span= item.name
                    else
                        span= item.name
                .table__col= item.edit + ' stealth edit'
