mixin total-edits(total, stealth, color)
    .edits(data-total-edits)
        .edits__total(data-total=total)
            span= total
        .edits__stealth(class='color--' + color data-edited=stealth)
            span= stealth