extends modules/layout.pug
include mixins/graph.pug
include mixins/button.pug
include mixins/tile.pug
include mixins/search.pug
include mixins/table.pug
include mixins/total-edits.pug
include mixins/checkbox.pug
include mixins/footer.pug

block content
    include modules/header.pug
            - var toplistData = [{ 'color': 'origo', 'name': 'origo.hu', 'edit': 1424 }, { 'color': 'pestisracok', 'name': 'pestisracok.hu', 'edit': 241}, { 'color': '888', 'name': '888.hu', 'edit': 156 }, { 'color': 'index', 'name': 'index.hu', 'edit': 89}];

    section.section
        .pillarbox
            .divider

    section.section    
        .pillarbox
            .row
                .col.col--3.col--center
                    .text.text--center.text--subtitle STEALTH EDITEK SZÁMÁNAK VÁLTOZÁSA IDŐBEN A 2018. MÁJUS 03-TÓL
                    +graph()
                    +button('Tudj meg többet', 'http://google.com')
                .col.col--3.col--center
                    .text.text--center.text--subtitle STEALTH EDIT 
                        br
                        | TOPLISTA
                    +table(toplistData)
                    +button('Tudj meg többet', 'http://google.com')
                .col.col--3.col--center
                    .text.text--center.text--subtitle ÖSSZESEN 256.432 VIZSGÁLT CIKK EBBŐL 34.897 STEALTH EDIT
                    +total-edits('221.535', '34.897')
                    +button('Tudj meg többet', 'http://google.com')

    section.section.section--light  
        .pillarbox
            .row
                .col.col--center
                    .text.text--subtitle LEGFRISSEBB STEALTH EDITEK
            .row
                .col.col--3
                    +tile('pestisracok', 'pestisrácok.hu', 'Orbán: hosszú és komoly vita folyt Jeruzsálem kérdéséről a kormányfők között', 'Izgalmas, hosszú, komoly és mély vitát folytattak az Európai Tanácsban a kormányfők Jeruzsálem kérdéséről, s ennek során Magyarország sikerrel képviselte álláspontját - nyilatkozta Orbán Viktor miniszterelnök pénteken reggel Brüsszelben...', '211', '2017.02.10.', '2017.02.15.')
                .col.col--3
                    +tile('origo', 'origo.hu', 'Orbán: hosszú és komoly vita folyt Jeruzsálem kérdéséről a kormányfők között', 'Izgalmas, hosszú, komoly és mély vitát folytattak az Európai Tanácsban a kormányfők Jeruzsálem kérdéséről, s ennek során Magyarország sikerrel képviselte álláspontját - nyilatkozta Orbán Viktor miniszterelnök pénteken reggel Brüsszelben...', '211', '2017.02.10.', '2017.02.15.')
                .col.col--3
                    +tile('444', '444.hu', 'Orbán: hosszú és komoly vita folyt Jeruzsálem kérdéséről a kormányfők között', 'Izgalmas, hosszú, komoly és mély vitát folytattak az Európai Tanácsban a kormányfők Jeruzsálem kérdéséről, s ennek során Magyarország sikerrel képviselte álláspontját - nyilatkozta Orbán Viktor miniszterelnök pénteken reggel Brüsszelben...', '211', '2017.02.10.', '2017.02.15.')

    section.section
        .pillarbox
            +search()   

    section.section  
        .pillarbox
            .row
                .col.col--center
                    .text.text--subtitle TOVÁBBI FRISS STEALTH EDITEK
            .row
                .col
                    +checkbox('A rövid karakterszámú, korrekció jellegű editek megjelenítése')
            .row
                .col
                    +tile('pestisracok', 'pestisrácok.hu', 'Orbán: hosszú és komoly vita folyt Jeruzsálem kérdéséről a kormányfők között', 'Izgalmas, hosszú, komoly és mély vitát folytattak az Európai Tanácsban a kormányfők Jeruzsálem kérdéséről, s ennek során Magyarország sikerrel képviselte álláspontját - nyilatkozta Orbán Viktor miniszterelnök pénteken reggel Brüsszelben...', '211', '2017.02.10.', '2017.02.15.', true, false)
                .col
                    +tile('origo', 'origo.hu', 'Orbán: hosszú és komoly vita folyt Jeruzsálem kérdéséről a kormányfők között', 'Izgalmas, hosszú, komoly és mély vitát folytattak az Európai Tanácsban a kormányfők Jeruzsálem kérdéséről, s ennek során Magyarország sikerrel képviselte álláspontját - nyilatkozta Orbán Viktor miniszterelnök pénteken reggel Brüsszelben...', '211', '2017.02.10.', '2017.02.15.', true, true)
                .col
                    +tile('444', '444.hu', 'Orbán: hosszú és komoly vita folyt Jeruzsálem kérdéséről a kormányfők között', 'Izgalmas, hosszú, komoly és mély vitát folytattak az Európai Tanácsban a kormányfők Jeruzsálem kérdéséről, s ennek során Magyarország sikerrel képviselte álláspontját - nyilatkozta Orbán Viktor miniszterelnök pénteken reggel Brüsszelben...', '211', '2017.02.10.', '2017.02.15.', true, false)

                .col.col--center
                    +button('Még több', 'http://google.com') 

    +footer(true)