extends modules/layout.pug
include mixins/graph.pug
include mixins/button.pug
include mixins/tile.pug
include mixins/search.pug
include mixins/table.pug
include mixins/total-edits.pug
include mixins/checkbox.pug
include mixins/footer.pug

block vars
    - var pageColor = 'default-secondary';

block content
    section.section
        include modules/sticky-logo
        .pillarbox
            header.header
                .header__logo
                    img(src="/images/sf_wh.png")
            .intro
                h1.text.title Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit.
                +button('Tudj meg többet', '#')

    section.section
        .pillarbox
            .divider

    section.section
        - var toplistData = [{ 'color': 'origo', 'name': 'origo.hu', 'edit': 1424 }, { 'color': 'pestisracok', 'name': 'pestisracok.hu', 'edit': 241}, { 'color': '888', 'name': '888.hu', 'edit': 156 }, { 'color': 'index', 'name': 'index.hu', 'edit': 89}];
        .pillarbox
            .row
                .col.col--3.col--center
                    .text.text--center.text--subtitle STEALTH EDITEK SZÁMÁNAK VÁLTOZÁSA
                        br
                        | IDŐBEN A 2018. MÁJUS 03-TÓL
                    +graph(pageColor)
                    +button('Tudj meg többet', '#')
                .col.col--3.col--center
                    .text.text--center.text--subtitle STEALTH EDIT
                        br
                        | TOPLISTA
                    +table(toplistData)
                    +button('Tudj meg többet', '#')
                .col.col--3.col--center
                    .text.text--center.text--subtitle ÖSSZESEN 155.573 VIZSGÁLT CIKK
                        br
                        | EBBŐL 35.232 STEALTH EDIT
                    +total-edits('120.341', '35.232', pageColor)
                    +button('Tudj meg többet', '#')

    section.section.section--grad-to-dark
        .pillarbox
            .row
                .col.col--center
                    .text.text--subtitle LEGFRISSEBB STEALTH EDITEK
            .row
                .col.col--3
                    +tile('pestisracok', 'pestisrácok.hu', 'Orbán: hosszú és komoly vita folyt Jeruzsálem kérdéséről a kormányfők között', 'Izgalmas, hosszú, komoly és mély vitát folytattak az Európai Tanácsban a kormányfők Jeruzsálem kérdéséről, s ennek során Magyarország sikerrel képviselte álláspontját - nyilatkozta Orbán Viktor miniszterelnök pénteken reggel Brüsszelben...', '211', '2017.02.10.', '2017.02.15.')
                .col.col--3
                    +tile('origo', 'origo.hu', 'Orbán: hosszú és komoly vita folyt Jeruzsálem kérdéséről a kormányfők között', 'Izgalmas, hosszú, komoly és mély vitát folytattak az Európai Tanácsban a kormányfők Jeruzsálem kérdéséről, s ennek során Magyarország sikerrel képviselte álláspontját - nyilatkozta Orbán Viktor miniszterelnök pénteken reggel Brüsszelben...', '211', '2017.02.10.', '2017.02.15.')
                .col.col--3
                    +tile('444', '444.hu', 'Orbán: hosszú és komoly vita folyt Jeruzsálem kérdéséről a kormányfők között', 'Izgalmas, hosszú, komoly és mély vitát folytattak az Európai Tanácsban a kormányfők Jeruzsálem kérdéséről, s ennek során Magyarország sikerrel képviselte álláspontját - nyilatkozta Orbán Viktor miniszterelnök pénteken reggel Brüsszelben...', '211', '2017.02.10.', '2017.02.15.')

    section.section.section--grad-to-light
        .pillarbox
            +search()   

    section.section  
        .pillarbox
            .row
                .col.col--center
                    .text.text--subtitle TOVÁBBI FRISS STEALTH EDITEK
            .row
                .col
                    +checkbox('A rövid karakterszámú, korrekció jellegű editek megjelenítése')
            .row
                .col
                    +tile('pestisracok', 'pestisrácok.hu', 'Orbán: hosszú és komoly vita folyt Jeruzsálem kérdéséről a kormányfők között', 'Izgalmas, hosszú, komoly és mély vitát folytattak az Európai Tanácsban a kormányfők Jeruzsálem kérdéséről, s ennek során Magyarország sikerrel képviselte álláspontját - nyilatkozta Orbán Viktor miniszterelnök pénteken reggel Brüsszelben...', '211', '2017.02.10.', '2017.02.15.', true, false)
                .col
                    +tile('origo', 'origo.hu', 'Orbán: hosszú és komoly vita folyt Jeruzsálem kérdéséről a kormányfők között', 'Izgalmas, hosszú, komoly és mély vitát folytattak az Európai Tanácsban a kormányfők Jeruzsálem kérdéséről, s ennek során Magyarország sikerrel képviselte álláspontját - nyilatkozta Orbán Viktor miniszterelnök pénteken reggel Brüsszelben...', '211', '2017.02.10.', '2017.02.15.', true, true)
                .col
                    +tile('444', '444.hu', 'Orbán: hosszú és komoly vita folyt Jeruzsálem kérdéséről a kormányfők között', 'Izgalmas, hosszú, komoly és mély vitát folytattak az Európai Tanácsban a kormányfők Jeruzsálem kérdéséről, s ennek során Magyarország sikerrel képviselte álláspontját - nyilatkozta Orbán Viktor miniszterelnök pénteken reggel Brüsszelben...', '211', '2017.02.10.', '2017.02.15.', true, false)
                .col
                    +tile('index', 'index.hu', 'Orbán: hosszú és komoly vita folyt Jeruzsálem kérdéséről a kormányfők között', 'Izgalmas, hosszú, komoly és mély vitát folytattak az Európai Tanácsban a kormányfők Jeruzsálem kérdéséről, s ennek során Magyarország sikerrel képviselte álláspontját - nyilatkozta Orbán Viktor miniszterelnök pénteken reggel Brüsszelben...', '211', '2017.02.10.', '2017.02.15.', true, true)
                .col
                    +tile('888', '888.hu', 'Orbán: hosszú és komoly vita folyt Jeruzsálem kérdéséről a kormányfők között', 'Izgalmas, hosszú, komoly és mély vitát folytattak az Európai Tanácsban a kormányfők Jeruzsálem kérdéséről, s ennek során Magyarország sikerrel képviselte álláspontját - nyilatkozta Orbán Viktor miniszterelnök pénteken reggel Brüsszelben...', '211', '2017.02.10.', '2017.02.15.', true, true)

                .col.col--center
                    +button('Még több', '#') 

    +footer(true)