extends modules/layout.pug
include mixins/table.pug
include mixins/search.pug
include mixins/box-chart.pug
include mixins/footer.pug
include mixins/header-secondary

block content
    +header-secondary('Ranking')

    .section
        .pillarbox
             +box-chart()

    .section
        .pillarbox
            +search()

    +footer()