extends modules/layout.pug
include mixins/graph.pug
include mixins/button.pug
include mixins/tile.pug
include mixins/search.pug
include mixins/table.pug
include mixins/total-edits.pug
include mixins/checkbox.pug
include mixins/footer.pug
include mixins/header-secondary

block vars
    - var pageColor = 'default-secondary';

block content
    - var toplistData = [{ 'color': 'origo', 'name': 'origo.hu', 'edit': 1424 }, { 'color': 'pestisracok', 'name': 'pestisracok.hu', 'edit': 241}, { 'color': '888', 'name': '888.hu', 'edit': 156 }, { 'color': 'index', 'name': 'index.hu', 'edit': 89}];

    +header-secondary('fidesz', pageColor, true)

    section.section
        .pillarbox
            .row
                .col.col--2.col--center
                    .text.text--center.text--subtitle
                        span STEALTH EDITEK SZÁMA IDŐBEN A KEZDETEK ÓTA
                    +graph(pageColor)
                    +button('Tudj meg többet', 'http://google.com')
                .col.col--2.col--center
                    .text.text--center.text--subtitle
                        span ÖSSZESEN 11.234 VIZSGÁLT CIKK EBBŐL 7.359 STEALTH EDIT
                    +total-edits('221.535', '34.897', pageColor)
                    +button('Tudj meg többet', 'http://google.com')

    section.section
        .pillarbox
            .row
                .col
                    +checkbox('A rövid karakterszámú, korrekció jellegű editek megjelenítése')
            .row
                .col
                    +tile('pestisracok', 'pestisrácok.hu', 'Orbán: hosszú és komoly vita folyt Jeruzsálem kérdéséről a kormányfők között', 'Izgalmas, hosszú, komoly és mély vitát folytattak az Európai Tanácsban a kormányfők Jeruzsálem kérdéséről, s ennek során Magyarország sikerrel képviselte álláspontját - nyilatkozta Orbán Viktor miniszterelnök pénteken reggel Brüsszelben...', '211', '2017.02.10.', '2017.02.15.', true, false)
                .col
                    +tile('origo', 'origo.hu', 'Orbán: hosszú és komoly vita folyt Jeruzsálem kérdéséről a kormányfők között', 'Izgalmas, hosszú, komoly és mély vitát folytattak az Európai Tanácsban a kormányfők Jeruzsálem kérdéséről, s ennek során Magyarország sikerrel képviselte álláspontját - nyilatkozta Orbán Viktor miniszterelnök pénteken reggel Brüsszelben...', '211', '2017.02.10.', '2017.02.15.', true, false)
                .col
                    +tile('444', '444.hu', 'Orbán: hosszú és komoly vita folyt Jeruzsálem kérdéséről a kormányfők között', 'Izgalmas, hosszú, komoly és mély vitát folytattak az Európai Tanácsban a kormányfők Jeruzsálem kérdéséről, s ennek során Magyarország sikerrel képviselte álláspontját - nyilatkozta Orbán Viktor miniszterelnök pénteken reggel Brüsszelben...', '211', '2017.02.10.', '2017.02.15.', true, true)
                .col
                    +tile('444', '444.hu', 'Orbán: hosszú és komoly vita folyt Jeruzsálem kérdéséről a kormányfők között', 'Izgalmas, hosszú, komoly és mély vitát folytattak az Európai Tanácsban a kormányfők Jeruzsálem kérdéséről, s ennek során Magyarország sikerrel képviselte álláspontját - nyilatkozta Orbán Viktor miniszterelnök pénteken reggel Brüsszelben...', '211', '2017.02.10.', '2017.02.15.', true, false)
                .col
                    +tile('444', '444.hu', 'Orbán: hosszú és komoly vita folyt Jeruzsálem kérdéséről a kormányfők között', 'Izgalmas, hosszú, komoly és mély vitát folytattak az Európai Tanácsban a kormányfők Jeruzsálem kérdéséről, s ennek során Magyarország sikerrel képviselte álláspontját - nyilatkozta Orbán Viktor miniszterelnök pénteken reggel Brüsszelben...', '211', '2017.02.10.', '2017.02.15.', true, false)
                .col
                    +tile('pestisracok', 'pestisrácok.hu', 'Orbán: hosszú és komoly vita folyt Jeruzsálem kérdéséről a kormányfők között', 'Izgalmas, hosszú, komoly és mély vitát folytattak az Európai Tanácsban a kormányfők Jeruzsálem kérdéséről, s ennek során Magyarország sikerrel képviselte álláspontját - nyilatkozta Orbán Viktor miniszterelnök pénteken reggel Brüsszelben...', '211', '2017.02.10.', '2017.02.15.', true, false)
                .col
                    +tile('origo', 'origo.hu', 'Orbán: hosszú és komoly vita folyt Jeruzsálem kérdéséről a kormányfők között', 'Izgalmas, hosszú, komoly és mély vitát folytattak az Európai Tanácsban a kormányfők Jeruzsálem kérdéséről, s ennek során Magyarország sikerrel képviselte álláspontját - nyilatkozta Orbán Viktor miniszterelnök pénteken reggel Brüsszelben...', '211', '2017.02.10.', '2017.02.15.', true, false)
                .col
                    +tile('444', '444.hu', 'Orbán: hosszú és komoly vita folyt Jeruzsálem kérdéséről a kormányfők között', 'Izgalmas, hosszú, komoly és mély vitát folytattak az Európai Tanácsban a kormányfők Jeruzsálem kérdéséről, s ennek során Magyarország sikerrel képviselte álláspontját - nyilatkozta Orbán Viktor miniszterelnök pénteken reggel Brüsszelben...', '211', '2017.02.10.', '2017.02.15.', true, true)

        .col.col--center
                    +button('Még több', 'http://google.com')

    section.section
        .pillarbox
            +search()

    +footer()