.section
    .pillarbox
        footer.footer
            img(src="../images/sf_gr.png")
            .footer__links
                a.footer__link(href="") Impresszum
                a.footer__link(href="") Jogi nyilatkozat